body {
  background-color: rgb(253, 251, 251);
  font-family: unset;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgba(88, 80, 80, 0.733);
  width: 100%;
  padding: auto;
  border: rgb(50, 47, 51);
  margin: 0px;
}

#minha_foto {
  width: 450px;
}
